body {
	font-family: "Georgia", "Times New Roman", "Times", "serif"
	color: #333333;
	margin: 0;
	padding: 0;
	background-color: #efeee7;
}
.container {
	text-align: center;
	padding-top: 5px; 
	padding-bottom: 5px;
	background-color: #000;
	color: #fff;
	width: 100%;
}

#main-bio {
	width: 70%;
	float: left;
}

#bio-image {
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

#contact-info {
	width: 30%;
	float: left;
	line-height: 25px;

	a {
		color: #d21034;
	}

}

.h1 {
	text-align: center;
	color: #eee;
	font-size: 28px;
}

.p {

}
